.vs/

/Tecstile/bin/
TecstileEditor/TecstileEditor/bin/*

/Tecstile/obj/TecstileEditor/TecstileEditor/bin/Debug/net9.0/Avalonia.Base.dll
TecstileEditor/TecstileEditor/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
TecstileEditor/TecstileEditor/obj/Debug/net9.0/apphost.exe
TecstileEditor/TecstileEditor/obj/Debug/net9.0/Avalonia/references
TecstileEditor/TecstileEditor/obj/Debug/net9.0/Avalonia/resources
TecstileEditor/TecstileEditor/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/ref/TecstileEditor.dll
TecstileEditor/TecstileEditor/obj/Debug/net9.0/refint/TecstileEditor.dll
TecstileEditor/TecstileEditor/obj/Debug/net9.0/Tecstile.57302284.Up2Date
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.AssemblyInfo.cs
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.AssemblyInfoInputs.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.assets.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.csproj.AssemblyReference.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.csproj.CoreCompileInputs.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.csproj.FileListAbsolute.txt
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.dll
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.GeneratedMSBuildEditorConfig.editorconfig
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.genruntimeconfig.cache
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.pdb
TecstileEditor/TecstileEditor/obj/Debug/net9.0/TecstileEditor.sourcelink.json
TecstileEditor/TecstileEditor/obj/project.assets.json
TecstileEditor/TecstileEditor/obj/project.nuget.cache
TecstileEditor/TecstileEditor/obj/TecstileEditor.csproj.nuget.dgspec.json
TecstileEditor/TecstileEditor/obj/TecstileEditor.csproj.nuget.g.props
TecstileEditor/TecstileEditor/obj/TecstileEditor.csproj.nuget.g.targets
TecstileEditor/TecstileEditor/bin/Debug/net9.0/Avalonia.Base.dll
Tecstile/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Tecstile/obj/Debug/net9.0/apphost.exe
Tecstile/obj/Debug/net9.0/DungeonS.106F46AA.Up2Date
Tecstile/obj/Debug/net9.0/DungeonSlime.AssemblyInfo.cs
Tecstile/obj/Debug/net9.0/DungeonSlime.AssemblyInfoInputs.cache
Tecstile/obj/Debug/net9.0/DungeonSlime.assets.cache
Tecstile/obj/Debug/net9.0/DungeonSlime.csproj.AssemblyReference.cache
Tecstile/obj/Debug/net9.0/DungeonSlime.csproj.CoreCompileInputs.cache
Tecstile/obj/Debug/net9.0/DungeonSlime.csproj.FileListAbsolute.txt
Tecstile/obj/Debug/net9.0/DungeonSlime.dll
Tecstile/obj/Debug/net9.0/DungeonSlime.GeneratedMSBuildEditorConfig.editorconfig
Tecstile/obj/Debug/net9.0/DungeonSlime.genruntimeconfig.cache
Tecstile/obj/Debug/net9.0/DungeonSlime.pdb
Tecstile/obj/Debug/net9.0/mgcb.tool.restore
Tecstile/obj/Debug/net9.0/ref/DungeonSlime.dll
Tecstile/obj/Debug/net9.0/ref/Tecstile.dll
Tecstile/obj/Debug/net9.0/ref/WaterEmblem.dll
Tecstile/obj/Debug/net9.0/refint/DungeonSlime.dll
Tecstile/obj/Debug/net9.0/refint/Tecstile.dll
Tecstile/obj/Debug/net9.0/refint/WaterEmblem.dll
Tecstile/obj/Debug/net9.0/Tecstile.AssemblyInfo.cs
Tecstile/obj/Debug/net9.0/Tecstile.AssemblyInfoInputs.cache
Tecstile/obj/Debug/net9.0/Tecstile.assets.cache
Tecstile/obj/Debug/net9.0/Tecstile.csproj.AssemblyReference.cache
Tecstile/obj/Debug/net9.0/Tecstile.csproj.CoreCompileInputs.cache
Tecstile/obj/Debug/net9.0/Tecstile.csproj.FileListAbsolute.txt
Tecstile/obj/Debug/net9.0/Tecstile.dll
Tecstile/obj/Debug/net9.0/Tecstile.GeneratedMSBuildEditorConfig.editorconfig
Tecstile/obj/Debug/net9.0/Tecstile.genruntimeconfig.cache
Tecstile/obj/Debug/net9.0/Tecstile.pdb
Tecstile/obj/Debug/net9.0/Tecstile.sourcelink.json
Tecstile/obj/Debug/net9.0/WaterEmb.F6E4374A.Up2Date
Tecstile/obj/Debug/net9.0/WaterEmblem.AssemblyInfo.cs
Tecstile/obj/Debug/net9.0/WaterEmblem.AssemblyInfoInputs.cache
Tecstile/obj/Debug/net9.0/WaterEmblem.assets.cache
Tecstile/obj/Debug/net9.0/WaterEmblem.csproj.AssemblyReference.cache
Tecstile/obj/Debug/net9.0/WaterEmblem.csproj.CoreCompileInputs.cache
Tecstile/obj/Debug/net9.0/WaterEmblem.csproj.FileListAbsolute.txt
Tecstile/obj/Debug/net9.0/WaterEmblem.dll
Tecstile/obj/Debug/net9.0/WaterEmblem.GeneratedMSBuildEditorConfig.editorconfig
Tecstile/obj/Debug/net9.0/WaterEmblem.genruntimeconfig.cache
Tecstile/obj/Debug/net9.0/WaterEmblem.pdb
Tecstile/obj/DungeonSlime.csproj.nuget.dgspec.json
Tecstile/obj/DungeonSlime.csproj.nuget.g.props
Tecstile/obj/DungeonSlime.csproj.nuget.g.targets
Tecstile/obj/project.assets.json
Tecstile/obj/project.nuget.cache
Tecstile/obj/Tecstile.csproj.nuget.dgspec.json
Tecstile/obj/Tecstile.csproj.nuget.g.props
Tecstile/obj/Tecstile.csproj.nuget.g.targets
Tecstile/obj/WaterEmblem.csproj.nuget.dgspec.json
Tecstile/obj/WaterEmblem.csproj.nuget.g.props
Tecstile/obj/WaterEmblem.csproj.nuget.g.targets
